/* YOUR CUSTOM STYLES */

body{
    background-color: #0099FF;
}

div#wrapper
{
    border: 2px;
    padding-bottom: 1%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: static;
    z-index: 0;
    min-width: 774px;
    width: 100%;
    max-width: 2300px;
    font-family: 'Source Sans Pro', sans-serif;

}

input[type=text]{
    font-size: inherit;
}

label{
    font-size: inherit;
    color: #fff;
}
html
{
    position: relative;
    min-height: 100%;
}
body
{
    margin: 0 0 65px;

}
footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 65px;
    background-color: black;
    padding-top: 1%;
    left: 0;
    padding-bottom: 2%;
}


.login {
    box-sizing: content-box;
    position: fixed;
    width: 100.6%;
    height: 35px;
    z-index: 1;
    margin: 0px 10px 0 -8px;
    padding: 5px 1px 10px 6%;
    border: 1px solid #000;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #000;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
}

.contenedor {
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 20%;
    height: 85px;
    position: inherit;
    opacity: 1;
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 1px;
    font: normal 14px/1 "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

a:hover{
    text-decoration: none;
}